<section class="admin-page__donations">
  <div class="container">
    <h1 class="page-header">
      Donations
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i>
          All
        </a>
      </li>
      <li>
        <a href="https://dashboard.stripe.com/test/dashboard">
          <i class="fa fa-plus"></i>
          Stripe
        </a>
      </li>
    </ol>

    {{#if donations}}
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each donations}}
            <tr class="image-row">
              <td class="jdate" data-dateOrig="{{added_on}}"></td>
              <td>{{full_name}}</td>
              <td>{{email}}</td>
              <td class="jDonationAmt" data-donationAmt="{{amount}}"></td>
              <td>{{category}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</section>