<section class="admin-page__events">
  {{!-- <h3 class="title">Events</h3>
  <div class="submenu clearfix">
    <div class="item">
      <a href="/events/new" class="btn btn-default btn-xs">+ new</a>
    </div>
  </div> --}}
  <h1 class="page-header">
    Events
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li class="active">
      <i class="fa fa-table"></i> Events
    </li>
    <li>
      <a href="/events/new">
        <i class="fa fa-plus"></i>
        New
      </a>

    </li>
  </ol>

  {{#if events}}
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {{#each events}}
        <tr>
          <td><a href="/events/{{slug}}">{{name}}</a></td>
          <td>{{location}}</td>
          <td>{{formattedDate}}</td>
          <td>
            <a href="#" class="btn btn-default btn-xs btn-attendees">
              {{attendees.length}} Attendees
              <span><i class="fa fa-sort-desc"></i></span>
            </a>
            <a href="/events/{{slug}}/delete" class="btn btn-danger btn-xs delete-event-btn"><i class="fa fa-times"></i></a>
            <a href="/events/{{slug}}/edit" class="btn btn-default btn-xs edit-event-btn"><i class="fa fa-pencil"></i></a>
          </td>
        </tr>

        <tr class="attendee-meta-row">
          <td colspan="4">
            <div class="row">
              <div class="col-md-6">
                hello therere
              </div>
              <div class="col-md-6">
                hello therere
              </div>
            </div>
          </td>
        </tr>

        <tr class="attendee-row">
          <td colspan="4">
            <div class="row">
              <div class="col-md-3 attendee-title"><b>Name</b></div>
              <div class="col-md-3 attendee-title"><b>Email</b></div>
              <div class="col-md-3 attendee-title"><b>Signed up Date</b></div>
              <div class="col-md-3 attendee-title"><b>Message</b></div>
            </div>
            {{#each attendees}}
            <div class="row">
              <div class="col-md-3 attendee-col attendee__full-name">{{f_name}} {{l_name}}</div>
              <div class="col-md-3 attendee-col attendee__email">{{email}}</div>
              <div class="col-md-3 attendee-col attendee__created-at" data-createdat="{{added_on}}"></div>
              <div class="col-md-3 attendee-col attendee__message">
                {{#if message}}
                  <a href="#" class="btn btn-link btn-sm" class="view-message-btn" data-message="{{message}}">
                    View Message
                  </a>
                {{/if}}
              </div>
            </div>
            {{/each}}
          </td>
        </tr>

      {{/each}}
      </tbody>
    </table>
  {{/if}}

</section>