<div id="events-preview">
  <div class="container">
    <div class="head">
      <h2>Upcoming events</h2>
      <div class="row">

        {{#each events}}
          <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="/events/{{slug}}">
              <div class="event-preview">
                <div class="date">
                  <div class="month">{{month}}</div>
                  <div class="day">{{day}}</div>
                  <div class="location">{{name}}</div>
                  <div class="citystate">{{location}}</div>
                </div>
              </div>
            </a>
          </div>
        {{/each}}

      </div>
      <div class="view-events-btn">
        <a href="/events" class="btn btn-primary btn-xlg btn-clear">View all events</a>
      </div>
    </div>
  </div>
</div>