
<div id="recent-updates">
  <div class="container">
    <div class="title">
      <h2>Recent Updates</h2>
      {{!-- {{blogs.length}} --}}
      <div class="small-line"></div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row updates">

      {{#each blogs}}

        <div class="col-md-3 update-container">
          <div class="update" style="background: no-repeat center/100% url({{coverImage}})">
            <div class="wrapper"> <!-- for overlay -->
              <div> <!-- to pull contents to bottom -->
                <div class="tags">
                  {{#each tags}}
                  <div class="tag label label-info">{{this}}</div>
                  {{/each}}
                </div>
                {{!-- <br> --}}
                <a href="/blog/{{slug}}" class="post-title">{{title}}</a>
                {{!-- <div class="descr">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi sint cumque tempora eaque consequuntur sapiente, nam iste. Facilis tempora perferendis placeat, eos?
                </div> --}}
                <p>
                  <span class="poster-name">
                    <img src="//placehold.it/100x100" class="img-circle poster-image">Donald Duck
                  </span>
                  /
                  <span class="poster-date">{{formattedDate}}</span>
                </p>
              </div>
            </div>
          </div>
        </div>

      {{/each}}

    </div>
  </div>

</div>