
<div id="recent-updates">
  <div class="container-fluid">
    <div class="head">
      <h2>Recent Updates</h2>
    </div>

    <div class="row">
      {{#each blogs}}
        <div class="col-md-4 update">
          <a href="/blog/{{slug}}">
            <div class="bg">
              {{!-- <img data-src="{{coverImage}}" alt="" class="saturated-img"> --}}
              <img data-src="{{coverImage}}" alt="" class="desaturated-img lazy">
            </div>
            <div class="content">
              <p class="date">{{formattedDate}}</p>
              <p class="title">{{title}}</p>
              <p class="author">{{authorFullname}}</p>
            </div>
          </a>
        </div>
      {{/each}}
    </div>
    <a href="/blog" class="btn btn-primary btn-xlg btn-clear">All Blog Posts</a>
  </div>
</div>
