<div id="admin-page">

  <div class="container">

    {{#if user}}
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Welcome!</strong> {{user.username}}
      </div>
    {{/if}}


    <div class="admin-page__blogs">
      <h3 class="title">Blog Posts</h3>
      <div class="submenu clearfix">
        <div class="item">
          <a href="/blog/new" class="btn btn-default btn-xs">+ new</a>
        </div>
      </div>
      {{#if blogs}}
        {{!-- <div class="well"> --}}
          <table class="table table-hover">
            <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each blogs}}
                <tr>
                  <td class="blog-link"><a href="/blog/{{slug}}">{{title}}</a></td>
                  <td class="options">
                    {{!-- {{#if isFeatured}}

                    {{else}}

                    {{/if}} --}}
                    <a href="/blog/{{slug}}/edit" class="btn btn-default btn-sm">edit</a>
                    <a href="/blog/{{slug}}/delete" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">delete</a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{!-- </div> --}}
      {{/if}}
    </div>

    <hr>

    <div class="admin-page__subscribers">
      <h3 class="title">Subscribers</h3>
      <div class="submenu clearfix">
        <div class="item">
          <a href="https://us11.admin.mailchimp.com/campaigns/create/" class="btn btn-default btn-xs">Send Mass Email</a>
        </div>
      </div>
      {{#if mcd}}
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {{#each mcd}}
            <tr>
              <td>{{email}}</td>
              <td>{{fname}}</td>
              <td>{{lname}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      {{/if}}
    </div>

    <hr>

    <div class="admin-page__events">
      <h3 class="title">Events</h3>
      <div class="submenu clearfix">
        <div class="item">
          <a href="/events/new" class="btn btn-default btn-xs">+ new</a>
        </div>
      </div>

      {{#if events}}
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {{#each events}}
            <tr>
              <td><a href="/events/{{slug}}">{{name}}</a></td>
              <td>{{location}}</td>
              <td>{{formattedDate}}</td>
              <td>
                <a href="#" class="btn btn-default btn-xs btn-attendees">
                  {{attendees.length}} Attendees
                  <span><i class="fa fa-sort-desc"></i></span>
                </a>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      {{/if}}

    </div>


  </div>

</div>