<div id="blogs">

  <div class="jumbotron" style="background-image: url(https://static.pexels.com/photos/185/black-and-white-sky-flying-holiday.jpg); background-size: cover; background-position: center;">
    <div class="smaller-fluid-container">
      <h1 class="title">
        Blog
        <div class="subtitle">updates and inspiration</div>
      </h1>
    </div>
  </div>

  {{#each blogs}}
    <div class="blog-post">
      <div class="fluid-container">
        <div class="row blog-row">
          <div class="col-md-4 col-sm-12">
            <div class="image-and-meta">
              <img src="{{coverImage}}" width="250px" height="250px">
              <div class="author">{{author}}</div>
              <div class="date">{{formattedDate}}</div>
            </div>
          </div>
          <div class="col-md-8 col-sm-12">
            <div class="title-and-contprev">
              <h3 class="title"><a href="/blog/{{slug}}">{{title}}</a></h3>
              <p class="content">{{contentPreview}}</p>
              <a href="/blog/{{slug}}" class="btn btn-primary">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}

  {{!-- only show featured on show_blog --}}
  {{!-- {{> featured_posts}} --}}
  {{> subscribe_block}}

</div>