
<div id="edit-blog">

  <div class="container">
    
    <h2>Editing : <i>{{blog.title}}</i> </h2>
    <hr>

    <form id="blog-form" class="form" action="/blog/{{blog.slug}}/?_method=PUT" method="POST">
      <input type="hidden" name="_method" value="PUT">
      <div class="form-group">
        <label for="covimg-input">Cover Image</label>
        <input id="covimg-input" class="form-control" type="text" name="coverImage" value="{{blog.coverImage}}">
      </div>
      <div class="form-group">
        <label for="title-input">Title</label>
        <input id="title-input" class="form-control" type="text" name="title" value="{{blog.title}}">
      </div>
      <div class="form-group">
        <label for="subtitle-input">Subtitle</label>
        <input id="subtitle-input" class="form-control" type="text" name="subTitle" value="{{blog.subTitle}}">
      </div>
      <div class="form-group">
        <label for="author-input">Author</label>
        <input id="author-input" class="form-control" type="text" name="author" value="{{blog.author}}">
      </div>
      <div class="form-group">
        <label for="content-input">Content</label>
        <textarea id="content-input" class="form-control" name="content">{{blog.content}}</textarea>
      </div>
      <input type="submit" value="submit" class="btn btn-primary">
    </form>

  </div>

</div>