

<div id="events">

  <div class="container">
    <div class="head">
      <div class="wrap">
        <h2>Events</h2>
        <h4>Take part in helping us defeat eds</h4>
      </div>
    </div>
  </div>

  <div class="event-container">

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="controls clearfix">
            <ul class="filters">
              <li>
                <a href="#" class="btn btn-default">All</a>
              </li>
            </ul>
            <input type="text" class="form-control event-search" placeholder="SEARCH BY TITLE, KEYWORD, TYPE ...">
          </div>

          <div class="event-list">

            {{#each events}}
              <div class="event-listing">
                <a href="/events/{{slug}}">
                  <h4 class="name">{{name}}</h4>
                  <div class="location">{{location}}</div>
                  <div class="date">{{formattedDate}}</div>
                  <div class="register">
                    <a href="/events/{{slug}}" class="btn btn-default">Register</a>
                  </div>
                </a>
              </div>
            {{/each}}

          </div>

        </div>
      </div>
    </div>

  </div>

</div>