

<div id="galleries">

  <div class="jumbohead">
    <div class="container">
      <div class="overlay-bg"></div>
      <div class="head">
        <p class="icon" align="center">
          {{!-- this needs to be updated to cloudfront --}}
          <img src="https://s3.amazonaws.com/jamesbucket123/staticassets/GalleryHeaderIcon.png">
        </p>
        <h1>Images</h1>
      </div>
    </div>
  </div>

  {{!-- <div class="container">

    <div class="all-images-container grid whitebg">
      <div class="grid-sizer"></div>
      {{#each images}}
        <a href="{{image_url}}" class="grid-item fancybox" rel="allimgs" title="{{name}}">
          <img src="{{image_url}}" alt="" class="img">
        </a>
      {{/each}}
    </div>

  </div> --}}

  <div class="container-fluid no-padding">
    <div class="grid chocolat-parent" data-chocolat-title="hello parent title!">
      <div class="grid-sizer"></div>
      {{#each images}}
        <div class="grid-item">
          <a href="{{image_url}}" class="chocolat-image" title="hello there indv title!">
            <img src="{{image_url}}" class="img" alt="">
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</div>