<div id="show-blog">

  <div class="jumbotron" style="background-image: url({{blog.coverImage}}); background-size: cover; background-position: center;">
    <div class="fluid-container">
      <h1 class="title">{{blog.title}}</h1>
      
    </div>
  </div>

  <div class="meta">
    <div class="smaller-fluid-container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="subtitle">{{blog.subTitle}}</h2>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6 col-sm-12">
          <div class="author">{{blog.author}}</div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="date">{{blog.formattedDate}}</div>
        </div>
      </div>
      <div class="hr"></div>
    </div>
  </div>

  <div class="content">
    <div class="smaller-fluid-container">
      {{{blog.content}}}
    </div>
  </div>

  {{> featured_posts}}

  {{> subscribe_block}}



</div>


{{!-- <div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <ul class="social-network social-circle">
      <li>
        <a href="#" class="icoFacebook" title="Facebook">
          <i class="fa fa-facebook fa-lg"></i>
        </a>
      </li>
      <li>
        <a href="#" class="icoTwitter" title="Twitter">
          <i class="fa fa-twitter fa-lg"></i>
        </a>
      </li>
      <li>
        <a href="#" class="icoGoogle" title="Google +">
          <i class="fa fa-google-plus fa-lg"></i>
        </a>
      </li>
    </ul>
  </div>
</div> --}}