
<div id="show-blog">

  <div class="container whitebg">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbo" style="background: no-repeat 90%/110% url({{blog.coverImage}});">
          <div class="wrap">
            <a href="#" class="jumbo-title">
              {{blog.title}}
            </a>
          </div>
        </div>
      </div>

      <div class="content">

        <div class="row">
          <div class="col-md-12">

            {{!-- <div class=""> --}}

              <div class="post-content">
                {{{blog.content}}}
              </div>
            {{!-- </div> --}}
          </div>


          {{!-- <div class="col-md-4">
            <div class="on-right">
              <div class="takeupspace"></div>
              <div class="meta">
                <div class="author">
                  <img src="http://i.imgur.com/6csh4ip.jpg" class="img-circle author-image">
                  <span>Donald Duck</span>
                  <span class="twitter-handle">@faketwitter</span>
                </div>

                <div class="split clearfix">
                  <span class="date">{{blog.formattedDate}}</span>
                  <span class="views-num">
                    <i class="fa fa-eye"></i>
                    {{blog.pageViews}}
                  </span>
                </div>

                <div class="split2">
                  {{#each blog.tags}}
                    <span class="label label-info">{{this}}</span>
                  {{/each}}
                </div>

              </div>

              <div class="recent-updates">
                {{#each featured}}
                  {{title}}
                {{/each}}
              </div>


            </div>
          </div> --}}
        </div>

        <div class="share">
          <h3>Think people should hear about this?</h3>

          <a href="http://www.facebook.com/sharer/sharer.php?u=http://james4eds.com/blog/{{blog.slug}}" target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false" class="social facebook">
            <i class="fa fa-facebook fa-3x"></i>
          </a>
          <a href="#" class="social twitter">
            <i class="fa fa-twitter fa-3x"></i>
          </a>
          <a href="#" class="social google-plus">
            <i class="fa fa-google-plus fa-3x"></i>
          </a>
        </div>

        {{!-- load the disqus vars into partial --}}
        <div class="disqus-partial">
          {{> disqus_partial disqusvars=disqus}}
        </div>

      </div>

    </div>
  </div>
  {{> subscribe_block}}
</div>