

<div id="show-event">

  <div class="jumbohead">
    <div class="container">
      <div class="overlay-bg"></div>
      <div class="head">
        <p class="icon" align="center">
          <img src="http://dft010l2k5dxv.cloudfront.net/ShowEventHeaderLogo.png">
        </p>
        <h4>Register for</h4>
        <h2>{{event.name}}</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <div class="description">
          {{{event.description}}}
        </div>

        <div class="register">
          <h3>Your Information</h3>

          <div class="alert alert-success alert-dismissible register-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>

          <div class="alert alert-danger alert-dismissible register-error" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>

          <form method="POST" id="event-register-form" class="form">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" name="f_name" class="first-name form-control" placeholder="First name...">
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <input type="text" name="l_name" class="last-name form-control" placeholder="Last name...">
                </div>
              </div>
              <div class="col-md-3 select-col">
                <div class="form-group pull-right">
                  <span class="select-label">t-shirt size</span>
                  <select name="tShirtSize" class="selectpicker">
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="none">none</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" name="email" class="email form-control" placeholder="Email...">
            </div>
            <div class="form-group margin-bot">
              <textarea name="message" class="message form-control" rows="6" placeholder="Message (optional) ..."></textarea>
            </div>

            <div class="payment-description bg-warning">
              <h4 class="text-muted">We require payment on registration</h4>
              <p class="text-muted">This is an online non-refundable payment. It is required to register online and hold your spot for the event.</p>
            </div>

            <div class="payment-info">

              <div class="payment-errors"></div>

              <div class="row">
                <div class="col-md-8">

                  <div class="form-group">
                    <label for="">Register Options</label>
                    <label class="radio-inline">
                      <input type="radio" name="registerOptions" id="inlineRadio1" value="3000" checked>
                      <strong>$30</strong>. T-shirt included.
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="registerOptions" id="inlineRadio2" value="1500">
                      <strong>$15</strong>. T-shirt NOT included.
                    </label>
                  </div>

                  <hr>

                  <div class="form-group">
                    <label for="nameOnCard">Name on card</label>
                    <input type="text" class="form-control" id="nameOnCard" name="nameOnCard" placeholder="John E Smith...">
                  </div>
                  <div class="form-group">
                    <label for="cardNumber">Card Number</label>
                    <input type="tel" id="cardNumber" name="cardNumber" class="form-control card-number cc-number" data-stripe="number" autocomplete="cc-number" placeholder="• • • •     • • • •     • • • •     • • • •">
                  </div>

                  <div class="form-group">
                    <label for="cardNumber">Expiration Date</label>
                    <div class="row">
                      <div class="col-md-3">
                        <input type="text" size="2" id="expMonth" name="expMonth" class="form-control" placeholder="MM" data-stripe="exp_month">
                      </div>
                      <div class="col-md-4">
                        <input type="text" size="4" id="expYear" name="expYear" class="form-control" placeholder="YYYY" data-stripe="exp_year">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-3">
                        <label for="cvcCode">Cvc Code</label>
                        <input type="text" class="form-control" id="cvcCode" name="cvcCode" data-stripe="cvc" placeholder="XXXX">
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            {{!-- hidden slug --}}
            <input type="hidden" value="{{event.slug}}" name="slug" class="hidden-slug">
            <input type="hidden" value="{{event._id}}" name="event_id" class="hidden-slug">

            <div class="show-total">
              <strong>Total:</strong> <span class="show-total-amt">$35.00</span>
            </div>

            <button type="submit" class="btn btn-primary btn-lg register-event-btn">Register</button>
            <div class="spinner-container"></div>
          </form>
        </div>
      </div>

      <div class="col-md-4">
        <div id="event-sidebar">

          <div id="event-google-map" data-lat="42.160477" data-lng="-88.13979"></div>
          <div class="when sidebar-info">
            <h4>When?</h4>
            <div class="date">{{event.formattedDate}}</div>
            <div class="time">
              {{{event.time}}}
            </div>
          </div>
          <div class="location sidebar-info">
            <h4>Where?</h4>
            <div class="location-name">{{event.locationName}}</div>
            <div class="street-address">{{event.streetAddress}}</div>
            <div class="city-state">{{event.cityState}}</div>
            <div class="zip">{{event.zipCode}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> subscribe_block}}

{{!-- for google map with marker --}}