{{!-- <div id="show-blog">

  <div class="jumbotron" style="background-image: url({{blog.coverImage}}); background-size: cover; background-position: center;">
    <div class="fluid-container">
      <div class="hgroup">
        <h1 class="title">{{blog.title}}</h1>
      </div>
    </div>
  </div>

  <div class="meta">
    <div class="smaller-fluid-container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="subtitle">{{blog.subTitle}}</h2>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6 col-sm-12">
          <div class="author">{{blog.author}}</div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="date">{{blog.formattedDate}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="smaller-fluid-container">
      {{{blog.content}}}
    </div>
  </div>

  {{> featured_posts}}

  {{> subscribe_block}}



</div> --}}


<div id="show-blog">
  <div class="container whitebg">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbo" style="background: url(http://www.dogslovewagtime.com/wp-content/uploads/2015/07/Dog-Pictures.jpg) no-repeat fixed center">
          <div class="wrap">
            <a href="#" class="jumbo-title">
              When Designing Your Customer Experience, Consider Today's Intergenerational Reality
            </a>
          </div>
        </div>

        <div class="meta">
          <span class="date">Posted on Nov 2, 2015</span>
          <span class="author">
            <img src="//placehold.it/100x100" class="img-circle author-image">
            <span>Donald Duck</span>
          </span>
          <div class="line clearfix"></div>
        </div>

        <div class="content">

          <p>When designing your customer experience—whether you’re in retail, food service, hospitality, healthcare, or just about any other field—take a moment to consider this: four out of five US households are not the traditional (if that’s really the right term) mom and dad with [pre-collegiate] kids. Many don’t fit this mold at all. They’re multigenerational, or grandkids living with grandparents, or parents living with their parents and with their own older, “boomerang” kids—you name it.</p>

          <p>(In some demographics, extended families are particularly pervasive: while one in six Americans overall live in a multigenerational setup, the percentage is significantly higher for Asian Americans–26%, African Americans–23%, and Hispanic Americans–22%.)</p>

          <p>Beyond this, even the “traditional” nuclear households are traveling, shopping, and otherwise engaging together to an extent that’s unprecedented in recent commercial history.</p>

          <h3>In healthcare: the patient experience and patient satisfaction the Mayo Clinic way</h3>

          <p>When designing your customer experience, keep this multigenerational reality in mind. For example: look at your room, facility, and even furniture reconfiguration to make sure they support this multigenerational reality: ensuring that your facility can be flexibly configured for groups of widely varying sizes, and that it’s truly accessible for those with mobility issues or other types of partial or complete disability.</p>

          <p>Of course, these considerations represent only a portion of what it takes to embrace intergenerational hospitality. Success here is about using your creativity and your resources as a hospitality organization to facilitate the connections between generations of customers.</p>

          <img src="http://blogs-images.forbes.com/micahsolomon/files/2015/12/Screen-Shot-2015-12-13-at-5.07.38-PM-1200x468.png">
          <div class="caption">this is the image caption</div>

          <h3>In hospitality: The Ritz-Carlton Hotel Company’s Cousteau Society partnership</h3>

          <p>The Ritz-Carlton Hotel Company’s Lisa Holladay, VP for global brand management, spoke with me about this recently.</p>

          <p>The trend toward more and more intergenerational travel is impacting our hotels, not just from a design standpoint but from a programming standpoint as well. It’s one reason we launched expanded kids programming last year, because we saw families moving away from the idea of “I’m going to leave the kids at home,” or “Let’s leave them with grandma and grandpa,” or “Let’s leave them with the nanny,” to an approach of “I want to connect with my kids; I want to spend time with my kids.”</p>

          <p>Our customer set is so busy that these precious moments of travel are often their best chance to reconnect with each other. We strive to facilitate these connections between our guests. Ritz Kids provides our guests globally with immersive programming that educates, entertains, and hopefully inspires our youngest guests, including content [for families, kids, and teens] created by Jean-Michel Cousteau’s Ocean Futures Society, exclusively for The Ritz-Carlton–a program we designed with Cousteau to be different at every individual property based on what is unique and interesting about that location.</p>

          <h3>In foodservice (F&B—food and beverage): From Ruby Tuesday to Chik-fil-A</h3>

          <p>The opportunities to help the generations connect are at least as strong in food service as they are in lodging. Casual restaurant Ruby Tuesday was a special place in my relationship with my kids when they were younger, and there must be other families with a similar feeling about the chain, because Ruby Tuesday’s embraces this even to the point of custom printing gift cards with your kid’s picture on it. And Chick-fil-A’s “Daddy-Daughter Date Night” is a tradition that resonates with a certain cohort of fathers and daughters.</p>

          <p>Here’s one of my favorite examples of someone in healthcare who is taking pains to accommodate the generations and their desire to come together. Mayo Clinic, the world-renowned hospital and health care organization, provides “destination medicine”—the collaboration of experts from a range of specialties to provide diagnosis and treatment, or a treatment plan, for what are often very serious cases. Because coming to Rochester, Minnesota, (or to another of Mayo’s locations) can be a family affair and because the definition of family has been changing so quickly, Mayo, as Berry and Seltman write, builds out its exam rooms to accommodate large, fluid groups of families and friends, including commissioning specially shaped sofas that work as chairs for one or two visitors or for half a dozen, if needed, depending on the number of loved ones visiting.</p>

          <p>Regardless of the configuration of your customer’s family, regardless of your industry:  If you take your role of facilitation and support seriously, if you provide a stage, a backdrop for the relationships of your customer, you can become, and remain, their provider of choice.</p>
        </div>

        <div class="share">
          <h3>Think people should hear about this?</h3>
          <a href="#" class="social facebook">
            <i class="fa fa-facebook fa-3x"></i>
          </a>
          <a href="#" class="social twitter">
            <i class="fa fa-twitter fa-3x"></i>
          </a>
          <a href="#" class="social google-plus">
            <i class="fa fa-google-plus fa-3x"></i>
          </a>
        </div>

        {{!-- load the disqus vars into partial --}}
        <div class="disqus-partial">
          {{> disqus_partial disqusvars=disqus}}
        </div>

      </div>

    </div>
  </div>
  {{> subscribe_block}}
</div>