<div id="show-blog">

  <div class="jumbotron" style="background-image: url({{blog.coverImage}}); background-size: cover; background-position: center;">
    <div class="smaller-fluid-container">
      <h1 class="title">{{blog.title}}</h1>
      
    </div>
  </div>

  <div class="meta">
    <div class="smaller-fluid-container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="subtitle">{{blog.subTitle}}</h2>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-sm-6">
          <div class="author">{{blog.author}}</div>
        </div>
        <div class="col-sm-6">
          <div class="date">{{blog.dateAdded}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="smaller-fluid-container">
      {{{blog.content}}}
    </div>
  </div>

  <div class="featured-posts">
    <div class="fluid-container">
      <h2>Featured Posts</h2>
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <a class="post" href="#">
            <div class="image">
              <img src="http://placehold.it/200x200">
            </div>
            <div class="title">
              Blog Post Title
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a class="post" href="#">
            <div class="image">
              <img src="http://placehold.it/200x200">
            </div>
            <div class="title">
              Blog Post Title
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a class="post" href="#">
            <div class="image">
              <img src="http://placehold.it/200x200">
            </div>
            <div class="title">
              Blog Post Title
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a class="post" href="#">
            <div class="image">
              <img src="http://placehold.it/200x200">
            </div>
            <div class="title">
              Blog Post Title
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  {{> subscribe_block}}



</div>


{{!-- <div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <ul class="social-network social-circle">
      <li>
        <a href="#" class="icoFacebook" title="Facebook">
          <i class="fa fa-facebook fa-lg"></i>
        </a>
      </li>
      <li>
        <a href="#" class="icoTwitter" title="Twitter">
          <i class="fa fa-twitter fa-lg"></i>
        </a>
      </li>
      <li>
        <a href="#" class="icoGoogle" title="Google +">
          <i class="fa fa-google-plus fa-lg"></i>
        </a>
      </li>
    </ul>
  </div>
</div> --}}